@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka&family=Meow+Script&family=Noto+Color+Emoji&display=swap');
.stuff {
	width: 60vw;
	max-width: 700px;
	margin: 0 auto;
	padding: 5px 20px;
	background-color: snow;
	border: 4px solid thistle;
	border-radius: 20px;
}
.parent {
 	display: grid;
 	place-items: center;
 	height: 100vh;
}
body {
	background-color: LavenderBlush;
	margin: 0;
	font-family: "Fredoka", sans-serif;
}
h1 {
	text-align: center;
	font-family: "Chewy", cursive;
}
.centered {
	text-align: center;
}
a {
	color: PaleVioletRed;
	text-decoration: none;
}
